@charset "gb2312";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #cccccc;
	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #ffffff;
}
.ban {
	font-size: 12px;
	color: #CCCCCC;
}
.input_login {
	border: 1px solid #666666;
	height: 23px;
	background-image: url(../images/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
}
.ipt {
	border: 1px solid #999999;
	color: #666666;
}

.input_login_yzm {
	border: 1px solid #666666;
	height: 23px;
	background-image: url(../images/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 60px;
}
.input_button1 {
	background:url(../images/button1.png);
	border:0px;
	height: 25px;
	width: 77px;
	color: #666666;
} 
.input_button2 {
	background:url(../images/button2.png);
	border:0px;
	height: 25px;
	width: 59px;
	color: #666666;
} 
.font14 {
	font-size: 14px;
	color: #CCCCCC;
}
.fontStyle {
	font-size: 12px;
	color: #990000;
	line-height: 20px;
}
.font12 {
	font-size: 12px;
	color: #666666;
}
.scroll_border {
	SCROLLBAR-FACE-COLOR: #cfcfcf;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #595959;
	SCROLLBAR-3DLIGHT-COLOR: #595959;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #cfcfcf;
}
.selectstyle
{ 
        border:   1px   solid   #209FBD;  
        clip:   rect(   0px,   129px,   18px,   0px   ); 
        overflow:   hidden; 
} 
select 
{ FONT-SIZE:   12px; 
font-family:   Verdana,   Arial,   Helvetica,   sans-serif,   "ו ";   
        line-height:   16px;   color:   #444444; 
        border-style:   none; 
        border-width:   0px;   
} 
