
@charset "gb2312";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
.ban {
	font-size: 12px;
	color: #CCCCCC;
}
.ban a:link{
	font-size:12px;
	color:#CCCCCC;
}
.ban a:hover,
  .ban a:active{
	font-size:12px;
	color:#B20613;
}
.text{
	font-size: 10px;
	color: #CCCCCC;
}
.title{
	font-size: 15px;
	color: #CCCCCC;
}
.line {
	border: 1px dashed #666666;	
}
.line1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}
.input_login {
	border: 1px solid #666666;
	height: 23px;
	background-image: url(../images-msn/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
}
.input_login1 {
	border: 1px solid #666666;
	height: 21px;
	background-image: url(../images-msn/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
}
.input_login2 {
	border: 1px solid #666666;
	height: 21px;
	background-image: url(../images-msn/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 80px;
}
.input_loginadd {
	border: 1px solid #666666;
	height: 21px;
	background-image: url(../images-msn/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 120px;
}
.input_login_yzm {
	border: 1px solid #666666;
	height: 23px;
	background-image: url(../images-msn/input_bg.gif);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 60px;
}
.input_button1 {
	background:url(../images-msn/button1.png);
	border:0px;
	height: 25px;
	width: 77px;
	color: #666666;
} 
.input_button2 {
	background:url(../images-msn/button2.png);
	border:0px;
	height: 25px;
	width: 59px;
	color: #666666;
} 
.input_button02 {
	background:url(../images-msn/button2.gif);
	border:0px;
	height: 25px;
	width: 59px;
	color: #666666;
} 
.input_button3 {
	background:url(../images-msn/button2.png);
	border:0px;
	height: 25px;
	width: 59px;
	color: #5A020B;
} 
.input_button03 {
	background:url(../images-msn/button2.gif);
	border:0px;
	height: 25px;
	width: 59px;
	color: #5A020B;
} 
.input_button4 {
	background:url(../images-msn/button_bg_search.png);
	border:0px;
	height: 16px;
	width: 37px;
	color: #666666;
	font-size: 12px;
}
.input_button5 {
	background:url(../images-msn/button_bg_select.png);
	border:0px;
	height: 19px;
	width: 53px;
	color: #666666;
	font-size: 10px;
}
.input_button6 {
	background:url(../images-msn/button_select.png);
	border:0px;
	height: 22px;
	width: 76px;
	color: #5A020B;
} 
.input_buttonindex {
	background:url(../images-msn/button_index.png);
	border:0px;
	height: 17px;
	width: 38px;
	color: #ffffff;
	font-size: 12px;
} 
.font14 {
	font-size: 14px;
	color: #CCCCCC;
}
.font15 {
	font-size: 13px;
	color: #000000;
}
.fontlink{
	font-size:13px;
	color:#000000;
}
.fontlink a:link,
   .fontlink a:visited{
	font-size:13px;
	color:#000000;
}
.fontlink a:hover,
   .fontlink a:active{
	font-size:13px;
	color:#B20613;
}
.fontStyle {
	font-size: 12px;
	color: #990000;
	line-height: 20px;
}
.font12 {
	font-size: 12px;
	color: #666666;
}
.font12 a:link,
   .font12 a:visited{
	font-size:12px;
	color:#666666;
}
.font12 a:hover,
   .font12 a:active{
	font-size:12px;
	color:#B20613;
}
.scroll_border {
	SCROLLBAR-FACE-COLOR: #cfcfcf;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #595959;
	SCROLLBAR-3DLIGHT-COLOR: #595959;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #cfcfcf;
}
.selectstyle
{ 
        border:   1px   solid   #209FBD;  
        clip:   rect(   0px,   129px,   18px,   0px   ); 
        overflow:   hidden; 
} 
select 
{ FONT-SIZE:   12px; 
font-family:   Verdana,   Arial,   Helvetica,   sans-serif,   "ו ";   
        line-height:   16px;   color:   #444444; 
        border-style:   none; 
        border-width:   0px;   
} 
.body
  {
  background-image: url(../images-msn/button_index.png);
  background-repeat: no-repeat;
  color:#FFFFFF;
  font-size:12px;
  }
.body a:link,
.body a:active,
.body a:visited
  {
  background-image: url(../images-msn/button_index.png);
  background-repeat: no-repeat;
  color:#FFFFFF;
  font-size:12px;
  }
.body a:hover
  {
  background-image: url(../images-msn/button_index.png);
  background-repeat: no-repeat;
  color:#E8D306;
  font-size:12px;
  }


  
.redbg {
	background-color:#6e020f;
}  
.bottom {
 	background:url(../images-msn/bottom.jpg) repeat-x left top;
	height:41px;
} 
.button_01 {
	background:url(../images-msn/button_01.jpg) no-repeat;
	height:38px;
	width:82px;
	padding-top:7px;
	font-size:13px;
	color:#000;
	text-align: center; *text-align: left; *text-align: right!important;
	background-position: center bottom;
}
.button_02 {
	background:url(../images-msn/button_02.jpg) no-repeat;
	height:50px;
	width:82px;
	padding-top:7px;
	font-size:13px;
	color:#000;
	text-align: center; *text-align: left; *text-align: right!important;
	background-position: center bottom;
}
.top_01 {
	background:url(../images-msn/top_01.jpg) repeat-x left top;
	height:16px;
}
.bottom_01 {
	background:url(../images-msn/bottom_01.jpg) repeat-x left bottom;
	height:16px;
}
.right_01 {
	background:url(../images-msn/right_01.jpg) repeat-y right top;
	height:16px;
}
.left_01 {
	background:url(../images-msn/left_01.jpg) repeat-y left top;
	height:16px;
}
.whitebg {
	 background-color:#fff;
	 font-size:12px;
}
.content {
	font-size:12px;
	line-height:20px;
}	
.orange {
	color:#ff7e00;
	font-size:12px;
}
.red_01 {
	color:#ff0000;
	font-size:12px;
}
.black_01 {
	color:#000;
	font-size:12px;
}
.red_02 {
	color:#e10000;
}
.grey_01 {
	border-bottom:1px solid #c9c9c9;
}
.left_02 {
	background:url(../images-msn/main_10.jpg) repeat-y left top;
	width:41px;
}
.right_02 {
	background:url(../images-msn/main_12.jpg) repeat-y left top;
	width:41px;
}
a.orange:link{
	font-size:12px; 
	color:#ff7e00;
	text-decoration:none;}
a.orange:visited{
	font-size:12px; 
	color:#ff7e00; 
	text-decoration:none;}
a.orange:hover{
	font-size:12px; 
	color:#000; 
	text-decoration:underline;}
a.orange:active{
	font-size:12px;
	color:#0081CD; 
	text-decoration:none;}
a.red_01:link{
	font-size:12px; 
	color:#e10000;
	text-decoration:none;}
a.red_01:visited{
	font-size:12px; 
	color:#e10000; 
	text-decoration:none;}
a.red_01:hover{
	font-size:12px; 
	color:#000; 
	text-decoration:underline;}
a.red_01:active{
	font-size:12px;
	color:#0081CD; 
	text-decoration:none;}	
a.red_01:link{
	font-size:12px; 
	color:#e10000;
	text-decoration:none;}
a.red_01:visited{
	font-size:12px; 
	color:#e10000; 
	text-decoration:none;}
a.red_01:hover{
	font-size:12px; 
	color:#000; 
	text-decoration:underline;}
a.red_01:active{
	font-size:12px;
	color:#0081CD; 
	text-decoration:none;}	
a.black_01:link{
	font-size:12px; 
	color:#000;
	text-decoration:none;}
a.black_01:visited{
	font-size:12px; 
	color:#000; 
	text-decoration:none;}
a.black_01:hover{
	font-size:12px; 
	color:#999; 
	text-decoration:underline;}
a.black_01:active{
	font-size:12px;
	color:#0081CD; 
	text-decoration:none;}