
A.heiLink:link, A.heiLink:visited, A.heiLink:active
{
	font-size				:12px;
	color					:#000000;
	text-decoration			:none;
	line-height: 24px;
	font-family: "ו";
}
A.heiLink:hover
{
	font-size				:12px;
	color					:#ff0000;
	text-decoration			:none;
	line-height: 24px;
	font-family: "ו";
}

