body {
	margin: 0px;
	font-family: "ו";
	font-size: 12px;
	background-image: url(../images/bg.jpg);
	background-color: #ff9e07;
	background-repeat: repeat-x;
}
*{margin:0; padding:0;}
table{border-collapse:collapse;}





.nierong{
	font-size				:12px;
	color					:#212121;
	text-decoration			:none;
	line-height: 23px;
	font-family:  "ו";
}

.baizi{
	font-size				:12px;
	color					:#ffffff;
	text-decoration			:none;
	line-height: 20px;
	font-family:  "ו";
}

