a:link{text-decoration:none;color:#42414A;}
a:visited {text-decoration:none;color:#42414A;}
a:hover {text-decoration:none;color:#999;}
a:active {text-decoration:none;color:#999;}


td{
	font-family: "ו";
	font-size: 12px;
}.tableborder {
	border: 1px solid #CCCCCC;
}
.font12-B {
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
}
.select {
	border: 1px solid #CCCCCC;
}
.department {
	height: 280px;
	width: 250px;
	border: 1px solid #CCCCCC;
}

.over {
	background-color: #e7e7e7;
}