/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color:#f5f5f5;
}
.font_orange {
	font-size:12px;
	color:#ff8800;
	
}
.main_table{
	width:480px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	font-size:12px;
}
/* 导航 */
.nav_table {
	padding: 0px;
	margin: 0px;
	height: 29px;
	font-size:12px;
	
}
.nav_table #nav_left {
	background-image: url(../images/nav_left.gif);
	width: 8px;
	height: 29px;
}
.nav_table #nav_center {
	background-image: url(../images/nav_center.gif);
	background-repeat: repeat-x;
	height: 29px;
	text-align: right;	
}
.nav_table #nav_right {
	background-image: url(../images/nav_right.gif);
	width: 8px;
	height: 29px;
}

/* ----------------- */
/* 内容 */
.content_table{
	/*border:1px solid #999999;*/
	background-color:#ffffff;
}

.title_table #title_left {
	background-image: url(../images/title_left.gif);
	width: 8px;
	height: 30px;
}
.title_table #title_center {
	background-image: url(../images/title_center.gif);
	background-repeat: repeat-x;
	height: 30px;
	text-align: left;
	font-weight: bold;
}
.title_table #title_right {
	background-image: url(../images/title_right.gif);
	width: 8px;
	height: 30px;
}

A.a01:link {
	COLOR: #263b42; TEXT-DECORATION: none
}
A.a01:visited {
	COLOR: #263b42; TEXT-DECORATION: none
}
A.a01:active {
	COLOR: #ff8800; TEXT-DECORATION: none
}
A.a01:hover {
	COLOR: #ff8800; TEXT-DECORATION: none
}

A.a02:link {
	COLOR: #ff8800; TEXT-DECORATION: none
}
A.a02:visited {
	COLOR: #ff8800; TEXT-DECORATION: none
}
A.a02:active {
	COLOR: #263b42; TEXT-DECORATION: none
}
A.a02:hover {
	COLOR: #263b42; TEXT-DECORATION: underline}

.page_top_lin{
	border-top:1px #ff8800 solid;
	vertical-align: bottom;
}

.border_img{
	border: #666666 1px solid
}

.input_border{
	border: #666666 1px solid
}


/* ********************* 各种按钮样式 ********************* */
.button_out_2 {
	background-image: url(../images/button-on-2.jpg);
	background-repeat: no-repeat;
	width:63px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}

.button_over_2 {
	background-image: url(../images/button-2.jpg);
	background-repeat: no-repeat;
	width:63px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}

.button_out_4 {
	background-image: url(../images/button-on-4.jpg);
	background-repeat: no-repeat;
	width:81px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}

.button_over_4 {
	background-image: url(../images/button-4.jpg);
	background-repeat: no-repeat;
	width:81px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}

.button_out_6 {
	background-image: url(../images/button-on-6.jpg);
	background-repeat: no-repeat;
	width:105px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}

.button_over_6 {
	background-image: url(../images/button-6.jpg);
	background-repeat: no-repeat;
	width:105px;
	height:20px;
	color: #ffffff;
	border:0px;
	cursor:hand;
	padding-top:1px;
	font-size:12px;
}
/* ********************* 各种按钮样式结束 ********************* */
/* 新闻标题 */
.content_title{
	font-size:14px;
	font-family:"宋体", Arial;
	line-height: 20px;
	font-weight: bold;
	color: #ff8800;
}
/* 新闻内容 */
.content_txt{
	font-size:14px;
	font-family:"宋体", Arial;
	line-height: 20px;
	color:#666666;
}