BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #e6e6e6; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #464646; SCROLLBAR-3DLIGHT-COLOR: #b0b0b0; LINE-HEIGHT: 22px; SCROLLBAR-ARROW-COLOR: #666666; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #f5f5f5; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #9c9c9c; scrollbar-color: #B0B0B0
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hand {
	CURSOR: hand
}
.note {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #464646; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #464646; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
.font1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px
}
A.font1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffff00; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font2 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font2:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font2:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font2:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #a10640; LINE-HEIGHT: 20px
}
.font4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px
}
A.font4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font5 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font5:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font5:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font5:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ff0000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.font6 {
	FONT-SIZE: 8px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.font7 {
	FONT-SIZE: 12px; COLOR: #464646; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
A.font7:link {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.font7:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.font7:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
.font8 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #464646; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font8:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #464646; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font8:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #464646; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.font8:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ff6600; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.font9 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #a3164c; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
.font10 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #464646; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font10:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #464646; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font10:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #464646; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.font10:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font11 {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font12 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 25px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.font13 {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font14 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #870133; LINE-HEIGHT: 30px; TEXT-DECORATION: none
}
.img1 {
	BORDER-RIGHT: #d1d1d1 4px solid; BORDER-TOP: #d1d1d1 4px solid; BORDER-LEFT: #d1d1d1 4px solid; WIDTH: 96px; BORDER-BOTTOM: #d1d1d1 4px solid; HEIGHT: 70px
}
.tab_default {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bg4.jpg); COLOR: #ffffff; LINE-HEIGHT: 27px; TEXT-DECORATION: none
}
.tab_default1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bg4.jpg); COLOR: #ffffff; LINE-HEIGHT: 27px; TEXT-DECORATION: none
}
.tab_default2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bg9.jpg); COLOR: #ffffff; LINE-HEIGHT: 27px; TEXT-DECORATION: none
}
.tab_select {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bg5.jpg); CURSOR: hand; COLOR: #000000; LINE-HEIGHT: 27px; TEXT-DECORATION: none
}
.tab_select1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bg5.jpg); CURSOR: hand; COLOR: #000000; LINE-HEIGHT: 27px; TEXT-DECORATION: none
}
.tab_content {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #d7d7d7 1px solid; BORDER-BOTTOM: #d7d7d7 1px solid
}
.topbg1 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(../images/topbg1.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.product_picborder {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.product_bg4 {
	BORDER-RIGHT: #8299bb 1px solid; BORDER-LEFT: #8299bb 1px solid
}
.product_div1 {
	BACKGROUND-IMAGE: url(../../../images/common/FG/Navigation_bg.jpg); HEIGHT: 25px
}
.product_headtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../../../images/product/FG/ProductReviewMaint_head_bg.gif); WIDTH: 284px; COLOR: #fd8402; LINE-HEIGHT: normal; FONT-STYLE: normal; HEIGHT: 54px; TEXT-ALIGN: center; FONT-VARIANT: normal
}
.product_white {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.product_title3 {
	FONT: bold 12px "宋体"; COLOR: #333333; HEIGHT: 23px; TEXT-ALIGN: right
}
.product_td_head {
	FONT: 12px "宋体"; COLOR: #ff7601; HEIGHT: 20px
}
.product_td_content {
	FONT: 12px "宋体"; COLOR: #558800; WORD-BREAK: break-all; HEIGHT: 20px
}
A.product_a:link {
	FONT: 12px "宋体"; TEXT-DECORATION: none
}
A.product_a:visited {
	FONT: 12px "宋体"; TEXT-DECORATION: none
}
A.product_a:hover {
	FONT: 12px "宋体"; TEXT-DECORATION: underline
}
A.product_a_bold:link {
	FONT: bold 12px "宋体"; COLOR: #cdaa76; TEXT-DECORATION: none
}
A.product_a_bold:visited {
	FONT: bold 12px "宋体"; COLOR: #cdaa76; TEXT-DECORATION: none
}
A.product_a_bold:hover {
	FONT: bold 12px "宋体"; COLOR: #cdaa76; TEXT-DECORATION: underline
}
A.product_orange:unknown {
	COLOR: #fd8402; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_orange:visited {
	COLOR: #fd8402; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_orange:hover {
	COLOR: #fd8402; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.product_white:link {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_white:visited {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_white:hover {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.product_powder:link {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_powder:visited {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_powder:hover {
	COLOR: #f34f6e; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.product_more:link {
	COLOR: #6b2314; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_more:visited {
	COLOR: #6b2314; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_more:hover {
	COLOR: #6b2314; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.product_table1 {
	BACKGROUND-COLOR: #9f9f7f
}
.product_tr {
	PADDING-LEFT: 12px; BACKGROUND-COLOR: #3a5ca3
}
A.product_title:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_title:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.product_title:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.product_bg3 {
	BACKGROUND-COLOR: #ffffff
}
.product_td1 {
	PADDING-LEFT: 6px; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 35px; BACKGROUND-COLOR: #ec78aa
}
.product_ladder {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 41px; BACKGROUND-COLOR: #f0d6e1
}
.product_ladder1 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../../images/product/FG/product_category.gif); COLOR: #ffffff; HEIGHT: 41px
}
.product_ladder2 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../../images/product/FG/product_category.gif); COLOR: #ffffff; HEIGHT: 41px
}
.product_ladder3 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../../images/product/FG/product_category.gif); COLOR: #ffffff; HEIGHT: 41px
}
.product_ladder4 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../../images/product/FG/product_category.gif); COLOR: #ffffff; HEIGHT: 41px
}
.product_ladder5 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../../images/product/FG/product_category.gif); COLOR: #ffffff; HEIGHT: 41px
}
.product_scroll {
	DISPLAY: none; SCROLLBAR-FACE-COLOR: #d4e6fd; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #b0d5fb; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #0b357f; SCROLLBAR-TRACK-COLOR: #c3dfff; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: #d4e6fd
}
.product_up {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BACKGROUND-IMAGE: url(../../../images/product/FG/arrow_left_up.gif); BORDER-LEFT: #ffffff 0px solid; WIDTH: 19px; BORDER-BOTTOM: #ffffff 0px solid; HEIGHT: 16px
}
.product_down {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BACKGROUND-IMAGE: url(../../../images/product/FG/arrow_left_down.gif); BORDER-LEFT: #ffffff 0px solid; WIDTH: 19px; BORDER-BOTTOM: #ffffff 0px solid; HEIGHT: 16px
}
.product_selectnone {
	BORDER-RIGHT: #fefefe 0px solid; BORDER-TOP: #fefefe 0px solid; DISPLAY: none; BORDER-LEFT: #fefefe 0px solid; BORDER-BOTTOM: #fefefe 0px solid; FONT-FAMILY: "宋体"
}
.product_bottom {
	BORDER-BOTTOM: #fd8402 1px dotted
}
.product_title {
	FONT: bold 12px "宋体"; COLOR: #fd8402; HEIGHT: 30px
}
.product_img {
	WIDTH: 64px; HEIGHT: 64px
}
.product_td2 {
	FONT: 12px "宋体"; COLOR: #2e2e2e
}
.product_title1 {
	FONT: bold 14px "宋体"; COLOR: #2e2e2e
}
.product_title2 {
	FONT: bold 12px "宋体"; COLOR: #2e2e2e
}
.product_td3 {
	FONT: 12px "宋体"; COLOR: #52527a
}
.product_tablebottom {
	FONT-FAMILY: "宋体"; HEIGHT: 16px
}
.product_td_head1 {
	FONT: 12px "宋体"; COLOR: #ffffff; HEIGHT: 22px; BACKGROUND-COLOR: #b4a980
}
.product_td_content1 {
	FONT: 12px "宋体"; WORD-BREAK: break-all; HEIGHT: 22px; BACKGROUND-COLOR: #f4f2ed
}
.product_td_time {
	FONT: 12px "宋体"; COLOR: #ff7200; HEIGHT: 22px; BACKGROUND-COLOR: #f4f2ed
}
.product_tr1 {
	COLOR: #d76723; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f4eee3
}
.product_button {
	BORDER-RIGHT: #9c9a9c 1px solid; BORDER-TOP: #9c9a9c 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #9c9a9c 1px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: #9c9a9c 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px; BACKGROUND-COLOR: #efefef
}
.product_textarea {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #0055ad; BORDER-BOTTOM-COLOR: #0055ad; BORDER-TOP-COLOR: #0055ad; FONT-FAMILY: "宋体"; BORDER-RIGHT-COLOR: #0055ad
}
.product_td_price {
	FONT: 12px "宋体"; COLOR: #ff7200; HEIGHT: 22px
}
.product_title {
	FONT: bold 12px "宋体"; COLOR: #fd8402; HEIGHT: 30px
}
.questionnaire_input {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #f1f7fe
}
.questionnaire_td {
	FONT-SIZE: 12px; COLOR: #000099
}
.questionnaire_input1 {
	BORDER-RIGHT: #b5b8bc 1px solid; BORDER-TOP: #b5b8bc 1px solid; BORDER-LEFT: #b5b8bc 1px solid; BORDER-BOTTOM: #b5b8bc 1px solid; BACKGROUND-COLOR: #ffffff
}
.questionnaire_td2 {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.questionnaire_head {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"
}
A.questionnaire_a:link {
	FONT-WEIGHT: bold; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.questionnaire_a:visited {
	FONT-WEIGHT: bold; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.questionnaire_a:hover {
	FONT-WEIGHT: bold; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.message_input {
	BORDER-RIGHT: #2e2e2e 1px solid; BORDER-TOP: #2e2e2e 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e2e2e 1px solid; BORDER-BOTTOM: #2e2e2e 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px
}
.message_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2e2e2e
}
.message_textarea {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #0055ad; BORDER-BOTTOM-COLOR: #0055ad; BORDER-TOP-COLOR: #0055ad; FONT-FAMILY: "宋体"; BORDER-RIGHT-COLOR: #0055ad
}
.message_button {
	BORDER-RIGHT: #9c9a9c 1px solid; BORDER-TOP: #9c9a9c 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #9c9a9c 1px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: #9c9a9c 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px; BACKGROUND-COLOR: #efefef
}
.message_td {
	FONT-SIZE: 12px; COLOR: #2e2e2e; FONT-FAMILY: "宋体"
}
.message_td_head {
	FONT: 12px "宋体"; COLOR: #ffffff; BACKGROUND-COLOR: #b4a980
}
.message_td_content {
	FONT: 12px "宋体"; BACKGROUND-COLOR: #f0f0f0
}
.message_td1 {
	FONT: 12px "宋体"; COLOR: #b4a980; BACKGROUND-COLOR: #f0f0f0
}
.message_td2 {
	FONT: 12px "宋体"; COLOR: #ff0000; BACKGROUND-COLOR: #f0f0f0
}
.MessageBoard_input {
	BORDER-RIGHT: #1038b5 1px solid; BORDER-TOP: #1038b5 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #1038b5 1px solid; BORDER-BOTTOM: #1038b5 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px
}
.MessageBoard_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1038b5
}
.MessageBoard_textarea {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #0055ad; BORDER-BOTTOM-COLOR: #0055ad; BORDER-TOP-COLOR: #0055ad; FONT-FAMILY: "宋体"; BORDER-RIGHT-COLOR: #0055ad
}
.MessageBoard_button {
	BORDER-RIGHT: #9c9a9c 1px solid; BORDER-TOP: #9c9a9c 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #9c9a9c 1px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: #9c9a9c 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px; BACKGROUND-COLOR: #efefef
}
.MessageBoard_td {
	FONT-SIZE: 12px; COLOR: #1038b5; FONT-FAMILY: "宋体"
}
.MessageBoard_td_head {
	FONT: 12px "宋体"; COLOR: #ffffff; BACKGROUND-COLOR: #044ca4
}
.MessageBoard_td_content {
	FONT: 12px "宋体"; COLOR: #000000; BACKGROUND-COLOR: #f0f0f0
}
.MessageBoard_td1 {
	FONT: 12px "宋体"; COLOR: #044ca4; BACKGROUND-COLOR: #f0f0f0
}
.MessageBoard_td2 {
	FONT: 12px "宋体"; COLOR: #ff0000; BACKGROUND-COLOR: #f0f0f0
}
.MessageBoard_coolscrollbar {
	BORDER-RIGHT: #bdbec0 1px solid; BORDER-TOP: #bdbec0 1px solid; OVERFLOW-Y: hidden; FONT-SIZE: 12px; OVERFLOW-X: hidden; BORDER-LEFT: #bdbec0 1px solid; BORDER-BOTTOM: #bdbec0 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px; BACKGROUND-COLOR: #ffffff
}
.content_bg1 {
	BACKGROUND-COLOR: #dd0000
}
.content_td1 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 24px
}
.content_tr0 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #f38080; TEXT-ALIGN: center
}
.content_tr1 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #7b8cae; TEXT-ALIGN: center
}
.content_tr2 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #647ba7; TEXT-ALIGN: center
}
.content_tr3 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #1052db; TEXT-ALIGN: center
}
.content_tr4 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #3a5ca3; TEXT-ALIGN: center
}
.content_tr5 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #3a44a3; TEXT-ALIGN: center
}
.content_tr6 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #2e3787; TEXT-ALIGN: center
}
.content_tr7 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #232b6b; TEXT-ALIGN: center
}
.content_tr8 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #151940; TEXT-ALIGN: center
}
.content_tr9 {
	FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #3a5ca3; TEXT-ALIGN: center
}
.user_bg {
	BACKGROUND-IMAGE: url(../../../images/user/FG/user_bg.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.user_input1 {
	BORDER-RIGHT: #d7b78f 1px solid; BORDER-TOP: #d7b78f 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d7b78f 1px solid; COLOR: #333333; BORDER-BOTTOM: #d7b78f 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px
}
.user_title {
	FONT: bold 12px "宋体"; COLOR: #6e5229
}
.user_title1 {
	FONT-WEIGHT: bold; COLOR: #a17208; FONT-FAMILY: "宋体"
}
.user_title2 {
	COLOR: #a17208; FONT-FAMILY: "宋体"
}
.user_td_head {
	COLOR: #a17208; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #fdf1d5
}
.user_td_content {
	FONT: 12px "宋体"; BACKGROUND-COLOR: #fef9ee
}
.user_font {
	FONT: 12px "宋体"; COLOR: #a17208
}
.user_note {
	FONT: 12px "宋体"; COLOR: red; TEXT-ALIGN: center
}
A.user_a:link {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.user_a:visited {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.user_a:hover {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.user_a1:link {
	COLOR: #cdaa76; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.user_a1:visited {
	COLOR: #cdaa76; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.user_a1:hover {
	COLOR: #cdaa76; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.user_title3 {
	FONT: bold 14px "宋体"; COLOR: #8a0606
}
.uesr_title4 {
	BACKGROUND-COLOR: #cacaca
}
.user_body {
	BACKGROUND-COLOR: #333333
}
.user_body1 {
	BACKGROUND-COLOR: #f0ebd3
}
.user_input_readonly {
	BORDER-RIGHT: #395bcc 1px solid; BORDER-TOP: #395bcc 1px solid; BORDER-LEFT: #395bcc 1px solid; BORDER-BOTTOM: #395bcc 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #efefef
}
.user_bg {
	BACKGROUND-IMAGE: url(../../../images/user/FG/user_bg.gif)
}
.user_bg1 {
	BACKGROUND-IMAGE: url(../../../images/user/FG/login_midbg.gif)
}
.user_bg2 {
	BACKGROUND-IMAGE: url(../../../images/user/FG/login_midbg.gif)
}
.user_bg3 {
	BACKGROUND-IMAGE: url(../../../images/product/FG/product_spmidbg.gif)
}
.user_bg4 {
	BACKGROUND-IMAGE: url(../../../images/product/FG/product_categorymidbg.jpg)
}
.user_bg5 {
	BACKGROUND-IMAGE: url(../../../images/downloadcenter/FG/download_rightbg.gif)
}
.user_login {
	BACKGROUND-IMAGE: url(../../../images/user/FG/login_midbg.gif)
}
.user_login_midbg {
	BACKGROUND-IMAGE: url(../../../images/user/FG/login_midbg.gif)
}
.Regester_title {
	FONT: bold 14px "宋体"; COLOR: #1d64a4
}
.Regester_font {
	FONT: 12px "宋体"; COLOR: #395bcc
}
.Regester_welcomefont {
	FONT: bold 14px "宋体"; COLOR: #8a0606
}
.Regester_note {
	FONT: 12px "宋体"; COLOR: red
}
.Regester_input_readonly {
	BORDER-RIGHT: #395bcc 1px solid; BORDER-TOP: #395bcc 1px solid; BORDER-LEFT: #395bcc 1px solid; BORDER-BOTTOM: #395bcc 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #efefef
}
.Regester_button {
	BORDER-RIGHT: #98999c 1px solid; BORDER-TOP: #98999c 1px solid; BORDER-LEFT: #98999c 1px solid; COLOR: #000000; BORDER-BOTTOM: #98999c 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
.Regester_input {
	BORDER-RIGHT: #395bcc 1px solid; BORDER-TOP: #395bcc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #395bcc 1px solid; COLOR: #2e2e2e; BORDER-BOTTOM: #395bcc 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px
}
.Regester_bg {
	BACKGROUND-COLOR: #cacaca
}
.Regester_bg1 {
	BACKGROUND-IMAGE: url(../../../images/user/FG/line-fg.gif)
}
.publish_table {
	FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ccccbb
}
.publish_tr1 {
	BACKGROUND-COLOR: #f6f5eb
}
.publish_title3 {
	FONT-WEIGHT: bold; COLOR: #333333
}
.publish_title {
	FONT-SIZE: 12px; COLOR: #d76723; FONT-FAMILY: "宋体"
}
.publish_title4 {
	FONT: 12px "宋体"; COLOR: #d76723
}
.publish_title2 {
	FONT: bold 12px "宋体"; COLOR: #2e2e2e
}
.publish_title5 {
	COLOR: #ff2d00
}
.publish_bg {
	BACKGROUND-COLOR: #d7cdbd
}
.publish_td {
	FONT-SIZE: 12px; COLOR: #9f855c; FONT-FAMILY: "宋体"
}
.publish_input {
	BORDER-RIGHT: #9f855c 1px solid; BORDER-TOP: #9f855c 1px solid; BORDER-LEFT: #9f855c 1px solid; WIDTH: 100px; BORDER-BOTTOM: #9f855c 1px solid; FONT-FAMILY: "宋体"
}
.publish_bg1 {
	BORDER-RIGHT: #8299bb 1px solid; BORDER-LEFT: #8299bb 1px solid
}
.publish_tiyao {
	PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; FONT-FAMILY: "宋体"
}
A.publish_a:link {
	FONT: 12px "宋体"; COLOR: #2e2e2e; TEXT-DECORATION: underline
}
A.publish_a:visited {
	FONT: 12px "宋体"; COLOR: #2e2e2e; TEXT-DECORATION: underline
}
A.publish_a:hover {
	FONT: 12px "宋体"; COLOR: #2e2e2e; TEXT-DECORATION: none
}
.publish_td_price {
	FONT: 12px "宋体"; COLOR: #ff7200; HEIGHT: 22px
}
.publish_td_head {
	FONT: 12px "宋体"; COLOR: #ffffff; HEIGHT: 22px; BACKGROUND-COLOR: #b4a980
}
.publish_td_content {
	FONT: 12px "宋体"; WORD-BREAK: break-all; HEIGHT: 22px; BACKGROUND-COLOR: #f4f5ed
}
A.publish_a:link {
	COLOR: #2e2e2e; FONT-FAMILY: "宋?体"; TEXT-DECORATION: none
}
A.publish_a:visited {
	COLOR: #2e2e2e; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.publish_a:hover {
	COLOR: #2e2e2e; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.AdonlinePictureShow200_img {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 58px; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 44px
}
.AdonlinePictureShow2001_img {
	BORDER-RIGHT: #e0e0e0 2px solid; BORDER-TOP: #e0e0e0 2px solid; BACKGROUND: #e0e0e0; BORDER-LEFT: #e0e0e0 2px solid; WIDTH: 94px; BORDER-BOTTOM: #e0e0e0 2px solid; HEIGHT: 70px
}
.AdonlinePictureShow2002_img {
	WIDTH: 404px; HEIGHT: 90px
}
.AdonlinePictureShow2003_img {
	WIDTH: 85px; HEIGHT: 53px
}
.AdonlinePictureMultiPageShow200_img {
	WIDTH: 185px; HEIGHT: 53px
}
.AdonlinePictureMultiPageShow2001_img {
	WIDTH: 385px; HEIGHT: 53px
}
.AdonlineBannerShow200_img {
	WIDTH: 970px; HEIGHT: 98px
}
.AdonlineBannerShow2001_img {
	WIDTH: 953px; HEIGHT: 182px
}
.AdonlineBannerShow2002_img {
	WIDTH: 960px; HEIGHT: 135px
}
.order_font {
	FONT: bold 12px "宋体"; COLOR: #dd0000
}
.order_td {
	FONT: 12px "宋体"; COLOR: #cdaa76
}
.order_title {
	FONT: bold 12px "宋体"; COLOR: #a17208
}
.order_td_head {
	FONT: 12px "宋体"; COLOR: #a17208; HEIGHT: 22px; BACKGROUND-COLOR: #fdf1d5
}
.order_td_content {
	FONT: 12px "宋体"; BACKGROUND-COLOR: #fef9ee
}
.order_button {
	BORDER-RIGHT: #f6be40 1px solid; BORDER-TOP: #f6be40 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f6be40 1px solid; CURSOR: hand; BORDER-BOTTOM: #f6be40 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #fef5e1
}
.order_total {
	FONT: bold 12px "宋体"; COLOR: #a17208
}
A.order_a:link {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.order_a:visited {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.order_a:hover {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.order_a_bold:link {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.order_a_bold:visited {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.order_a_bold:hover {
	COLOR: #a17208; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.order_title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #a17208
}
.order_td2 {
	FONT-SIZE: 12px; COLOR: #fdf1d5; FONT-FAMILY: "宋体"
}
.order_input {
	BORDER-RIGHT: #2e2e2e 1px solid; BORDER-TOP: #2e2e2e 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e2e2e 1px solid; BORDER-BOTTOM: #2e2e2e 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px
}
.order_textarea {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #f1e9dc; BORDER-BOTTOM-COLOR: #f1e9dc; BORDER-TOP-COLOR: #f1e9dc; FONT-FAMILY: "宋体"; BORDER-RIGHT-COLOR: #f1e9dc
}
.order_button1 {
	BORDER-RIGHT: #f6be40 1px solid; BORDER-TOP: #f6be40 1px solid; BORDER-LEFT: #f6be40 1px solid; CURSOR: hand; BORDER-BOTTOM: #f6be40 1px solid; LETTER-SPACING: 0px; BACKGROUND-COLOR: #fef5e1
}
.order_input_readonly {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #fef9ee
}
.order_input_none {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #fef9ee
}
.bbs_button {
	BORDER-RIGHT: #92bf2e 1px solid; BORDER-TOP: #92bf2e 1px solid; BORDER-LEFT: #92bf2e 1px solid; CURSOR: hand; BORDER-BOTTOM: #92bf2e 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f2f2ea
}
.bbs_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.bbs_select {
	FONT-SIZE: 12px; COLOR: #51485f; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff
}
.bbs_input {
	BORDER-RIGHT: #92bf2e 1px solid; BORDER-TOP: #92bf2e 1px solid; BORDER-LEFT: #92bf2e 1px solid; BORDER-BOTTOM: #92bf2e 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f2f2ea
}
.bbs_bg1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px; BACKGROUND-COLOR: #92bf2e
}
.bbs_bg2 {
	BORDER-RIGHT: #f2f2ea 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #f2f2ea; PADDING-BOTTOM: 1px; MARGIN: 1px; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #f2f2ea 1px solid; BACKGROUND-COLOR: #ffffff
}
.bbs_bg3 {
	BORDER-RIGHT: #99cc33 1px solid; BORDER-TOP: #99cc33 1px solid; BORDER-LEFT: #99cc33 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #99cc33 1px solid; BACKGROUND-COLOR: #f2f2ea
}
.bbs_note {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"
}
A.bbs_a:link {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.bbs_a:visited {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.bbs_a:hover {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.bbs_a_title:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.bbs_a_title:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.bbs_a_title:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.downloadcenter_td_head {
	FONT: 12px "宋体"; COLOR: #ffffff; HEIGHT: 25px; BACKGROUND-COLOR: #b4a980
}
.downloadcenter_button {
	BORDER-RIGHT: #98999c 1px solid; BORDER-TOP: #98999c 1px solid; BORDER-LEFT: #98999c 1px solid; CURSOR: hand; BORDER-BOTTOM: #98999c 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f4f4f4
}
.downloadcenter_td_title {
	FONT-SIZE: 12px; COLOR: #00209f; FONT-FAMILY: "宋体"
}
A.downloadcenter_a:link {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.downloadcenter_a:visited {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.downloadcenter_a:hover {
	COLOR: #b4a980; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.downloadcenter_tablebottom {
	HEIGHT: 7px
}
.downloadcenter_tabletop {
	HEIGHT: 15px
}
.score_bg {
	BORDER-RIGHT: #8299bb 1px solid; BORDER-LEFT: #8299bb 1px solid; BACKGROUND-COLOR: #fdf1d5
}
A.score_a:link {
	COLOR: #8299bb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.score_a:visited {
	COLOR: #8299bb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.score_a:hover {
	COLOR: #8299bb; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.score_td_head {
	FONT: 12px "宋体"; COLOR: #b4a980; HEIGHT: 22px; BACKGROUND-COLOR: #fdf1d5
}
.score_td_content {
	FONT: 12px "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.common_white {
	FONT: 12px "宋体"; COLOR: #ffffff
}
.common_white1 {
	FONT: 12px "宋体"; COLOR: #ffffff
}
.common_bg {
	WIDTH: 778px; HEIGHT: 29px; BACKGROUND-COLOR: #0b357f
}
.common_bg1 {
	BACKGROUND-COLOR: #ffffff
}
.common_bg2 {
	BACKGROUND-COLOR: #665555
}
.common_user_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/user_bg.gif)
}
.common_user_loginbg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/user_loginbg.gif)
}
.common_color_bg1 {
	BACKGROUND-COLOR: #fee7e4
}
.common_color_bg2 {
	BACKGROUND-COLOR: #f2f2ea
}
.common_color_bg2 {
	BACKGROUND-COLOR: #dd0000
}
.common_index_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/index_bg.gif)
}
.common_today_foot {
	BACKGROUND-IMAGE: url(../../../images/common/FG/today_foot.gif); BACKGROUND-REPEAT: no-repeat
}
.common_hot_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/hot_bg.gif)
}
.common_special_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/special_bg.gif)
}
.common_new_left {
	BACKGROUND-IMAGE: url(../../../images/common/FG/new_left.gif)
}
.common_new_right {
	BACKGROUND-IMAGE: url(../../../images/common/FG/new_right.gif)
}
.common_question_right {
	BACKGROUND-IMAGE: url(../../../images/common/FG/question_right.gif)
}
.common_question_left {
	BACKGROUND-IMAGE: url(../../../images/common/FG/question_left.gif)
}
.common_friend_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/friend_bg.gif)
}
.common_category_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/category_b.gif)
}
.common_category_bg1 {
	BACKGROUND-IMAGE: url(../../../images/common/FG/category_lbg.gif)
}
.common_category_bg2 {
	BACKGROUND-IMAGE: url(../../../images/common/FG/category_rbg.gif)
}
.common_category_bg3 {
	BACKGROUND-IMAGE: url(../../../images/common/FG/category_fbg.gif)
}
.common_top_bg {
	BACKGROUND-IMAGE: url(../../../images/common/FG/top_bg.gif)
}
.DropdownMenuNavigationShow_menutableT {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; HEIGHT: 25px; BACKGROUND-COLOR: #f1e9dc
}
.DropdownMenuNavigationShow_menutable {
	FONT-SIZE: 12px; Z-INDEX: 100; FONT-FAMILY: "宋体"; POSITION: absolute; BACKGROUND-COLOR: #f1e9dc
}
.DropdownMenuNavigationShow_menutroutimg {
	CURSOR: hand; FONT-FAMILY: "宋体"
}
.DropdownMenuNavigationShow_indentWord {
	PADDING-LEFT: 0px; FONT-FAMILY: "宋体"
}
.DropdownMenuNavigationShow_menuhr {
	BORDER-RIGHT: #3a5ca3 1px inset; BORDER-TOP: #3a5ca3 1px inset; BORDER-LEFT: #3a5ca3 1px inset; BORDER-BOTTOM: #3a5ca3 1px inset; FONT-FAMILY: "宋体"
}
.DropdownMenuNavigationShow_menutableimg {
	Z-INDEX: 20; FONT-FAMILY: "宋体"; POSITION: absolute
}
.DropdownMenuNavigationShow_menutrout {
	CURSOR: hand; FONT-FAMILY: "宋体"
}
.DropdownMenuNavigationShow_menutd1 {
	WIDTH: 50px; FONT-FAMILY: Webdings; TEXT-ALIGN: right
}
.DropdownMenuNavigationShow_menutd0 {
	WIDTH: 100px; FONT-FAMILY: "宋体"; HEIGHT: 25px; BACKGROUND-COLOR: #f1e9dc; TEXT-ALIGN: center
}
.DropdownMenuNavigationShow_menutd {
	WIDTH: 0px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f1e9dc
}
A.DropdownMenuNavigationShow_a:link {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.DropdownMenuNavigationShow_a:visited {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.DropdownMenuNavigationShow_a:hover {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.DropdownMenuNavigationShow_a:active {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.employLeftBorder {
	BACKGROUND-IMAGE: url(../../../images/employ/FG/employ_bgleft.gif); BACKGROUND-REPEAT: repeat-y
}
.employRightBorder {
	BACKGROUND-IMAGE: url(../../../images/employ/FG/employ_bgright.gif); BACKGROUND-REPEAT: repeat-y
}
.employDesc {
	BACKGROUND-IMAGE: url(../../../images/employ/FG/employ_bgpic.gif); BACKGROUND-REPEAT: no-repeat
}
.dashedLine {
	BACKGROUND-IMAGE: url(../../../images/employ/FG/employ_dashed.gif); BACKGROUND-REPEAT: repeat-x
}
.employ_content {
	FONT-SIZE: 12px
}
.employ_input {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #88bdd7; BORDER-BOTTOM: 1px solid; FONT-FAMILY: "宋体"
}
.employ_select {
	FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #cfe8f4
}
.employ_td1 {
	FONT: 12px "宋体"; COLOR: #4895bb
}
.employ_textarea {
	SCROLLBAR-FACE-COLOR: #dee3e7; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #0b357f; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: "宋体"; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: #cfe8f4
}
.employ_bg1 {
	BACKGROUND-COLOR: #0099cc
}
.employ_bg2 {
	BACKGROUND-COLOR: #fafafa
}
.employ_bg3 {
	BACKGROUND-COLOR: #cccccc
}
.employ_bg4 {
	BACKGROUND-COLOR: #f0f0f0
}
.employ_bg5 {
	BACKGROUND-COLOR: #ffffff
}
.employ_bg6 {
	BACKGROUND-COLOR: #ff9900
}
.payment_input_none {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.payment_td_head {
	FONT: 12px "宋体"; COLOR: #b4a980; HEIGHT: 22px; BACKGROUND-COLOR: #fdf1d5
}
.payment_td_content {
	FONT: 12px "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.payment_input_readonly {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.payment_button {
	BORDER-RIGHT: #98999c 1px solid; BORDER-TOP: #98999c 1px solid; BORDER-LEFT: #98999c 1px solid; CURSOR: hand; BORDER-BOTTOM: #98999c 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
.payment_td {
	FONT: 12px "宋体"; COLOR: #2e2e2e
}
.payment_textarea {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW-Y: hidden; FONT-SIZE: 12px; OVERFLOW-X: hidden; BORDER-LEFT: #ffffff 1px solid; COLOR: #2e2e2e; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "宋体"; LETTER-SPACING: 0px
}
.info {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600
}
.infotitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399
}
